.navbar {
  background-color: green;
}

.navbar__container {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__logo {
  width: 3rem;
  height: 3rem;
}

.navbar__identity {
  display: flex;
  flex-direction: column;
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__toggle {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}
