.navbar__container {
  min-height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__logo {
  width: 3rem;
  height: auto;
}

.navbar__identity {
  display: flex;
  flex-direction: column;
}

.navbar__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__toggle {
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.navbar__menu {
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.navbar__menu--open {
  transform: translateX(0);
}

.navbar__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar__menu ul li {
  list-style-type: none;
  display: flex;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  /* CSS desktop ici */
}
